body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.chat-container {
    display: flex;
    max-width: 800px;
    min-width: 800px;
    min-height: 600px;
    max-height: 600px;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.users-list {
    flex: 1;
    border-right: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    background-color: Grey;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.users-list-container {
    height: 100%;
    overflow-y: scroll;
}

.users-list h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.users-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.users-list ul > li{
    border: 2px solid black;
    margin: 1.5vmax;
    padding: 0.3vmax;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.user-item.active {
    background-color: #cdebff;
    color: #4f4f4f;
    padding: 10px;
    border-radius: 5px;
}

.user-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-item span {
    font-weight: bold;
}

.separator {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.new-message{
    background-color: rgb(222, 255, 172);
    color: rgb(57, 131, 0);
}

.chat-area {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 1vmax;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 2px solid black;
}


.chat-area .message-container{
    overflow-y: auto;
    margin-bottom: 1vmax;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 5px;
    height: 1.3vmax;
    align-items: center;
}

/* .chat-area > div >  div {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
} */

.message p {
    padding: 0 3px;
    /* word-wrap: break-word; */
    font-size: 1vmax;
    font-weight: 400;
}

.user-item span.nbr-msg {
    margin-left: 10px;
    background-color: #f8fa6f;
    color: white;
    padding: 5px;
    width: 10px;
    border-radius: 50%;
    height: 10px;
}

.sender {
    background-color: grey;
    color: white;
    align-self: flex-end;
}

.receiver {
    background-color: #ecf0f1;
    color: black;
    align-self: flex-start;
}

.message-input-container {
    background: white;
    margin-bottom: 0;
    position: sticky;
    bottom: 0;
}

.message-input input {
    width: 75%;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.message-input button {
    padding: 10px;
    border: none;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.user-form {
    max-width: 400px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.user-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.user-form label {
    display: block;
    margin-bottom: 8px;
}

.user-form input {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.user-form button {
    padding: 12px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}


a.logout {
    color: #fff;
    text-decoration: none;
}